
/* html{
    overflow: hidden;
} */
    body{
    top: 0;
    left: 0;
}
html{
  background-color:#333 ;
}
#heading{
    margin-top: auto;
    text-align: center;
    font-family:Arial px;
    color:white;
    display: block;
    border: 1px solid red;
    background: black;
}
:root {
  --grid-cols: 1;
  --grid-rows: 1;
}
.outer{
    min-height: 70vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
#container {
    
    display: grid;
    /* grid-gap: 1em; */
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    /* height: 8rem; */
   height:70vh;
   width: 70vh;
   border: 2px;
   border-style:groove;
  }
  
  .grid-item {
    /* padding: 0.7em; */
    border: 1px solid #ddd;
    height:100%;
    width: 100%;
  }
  div.inputs{
      display: flex;
      align-items:center;
      text-align: center;
      justify-content: center;
    }
  div.in2{
      display: block;
      padding: 5px;
  }
  label{
      /* display: block; */
    font-size: 20px;
    /* padding: 13px; */
  }
  div.btn{
      margin-top: -0.1em;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  div.input2{
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: center;
}
div.in3{
    display: block;
    padding: 10px;
}
button{
  padding:5px;
  border-radius:10px;
  background-image: linear-gradient(30deg,rgb(182, 239, 253),rgb(141, 141, 98));
  font-family: "Arial Black", Gadget, sans-serif;
}